@model IEnumerable<GetBuckets.Models.Review.ReviewListItems>


<h2>How was your exprience? Leave a Review!</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    <img src="https://cdn.vox-cdn.com/thumbor/DjhZT4HRI-c3gy0EecpzA7zXock=/0x0:3000x2000/1820x1024/filters:focal(1196x671:1676x1151):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/61603855/NBA_MemePortraits.0.jpg"
        alt="Trulli" width="1200" height="480">
<p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsRecommended)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRecommended)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
            </td>
        </tr>
    }

</table>
